jb-switch.material-style {
    --jb-switch-bg-color: var(--jb-surface-container-highest);
    --jb-switch-bg-color-active: var(--jb-primary);
    --jb-switch-ring-color: transparent;
    --jb-switch-ring-color-active: transparent;
    --jb-switch-trigger-bg-color: var(--jb-outline);
    --jb-switch-trigger-bg-color-active: var(--jb-on-primary);
    --jb-switch-caption-color: var(--jb-text-secondary);
    --jb-switch-caption-color-active: var(--jb-text-primary);
    --jb-switch-focus-ring-color: var(--jb-primary);
    --jb-switch-trigger-ring-stroke-width: 0;
}

jb-switch.material-style::part(switch) {
    filter: none;
}

jb-switch.material-style:focus-within::part(svg-wrapper) {
    border-radius: 999px;
    background: var(--jb-state-focus);
}
