jb-switch.material-style {
    --jb-switch-bg-color: #e0e0e0;
    --jb-switch-bg-color-active: var(--jb-primary);
    --jb-switch-ring-color: var(--jb-surface);
    --jb-switch-ring-color-active: var(--jb-surface);
    --jb-switch-trigger-bg-color: #f5f5f5;
    --jb-switch-trigger-bg-color-active: var(--jb-surface);
    --jb-switch-caption-color: var(--jb-text-secondary);
    --jb-switch-caption-color-active: var(--jb-text-primary);
    --jb-switch-focus-ring-color: var(--jb-primary);
    --jb-switch-trigger-ring-stroke-width: 1rem;
}

jb-switch.material-style::part(switch) {
    filter: drop-shadow(0 0.125rem 0.25rem rgb(0 0 0 / 0.16));
}
