jb-switch.fluent-style {
    --jb-switch-bg-color: var(--jb-background);
    --jb-switch-bg-color-active: var(--jb-focus-color);
    --jb-switch-ring-color: #605e5c;
    --jb-switch-ring-color-active: var(--jb-text-contrast);
    --jb-switch-trigger-bg-color: var(--jb-text-contrast);
    --jb-switch-trigger-bg-color-active: var(--jb-text-contrast);
    --jb-switch-caption-color: var(--jb-text-secondary);
    --jb-switch-caption-color-active: var(--jb-text-primary);
    --jb-switch-bar-border-color: #8a8886;
    --jb-switch-bar-stroke-width: 8px;
    --jb-switch-focus-ring-color: var(--jb-focus-color);
}

jb-switch.fluent-style:state(disabled)::part(true-text),
jb-switch.fluent-style:state(disabled)::part(false-text) {
    color: var(--jb-text-disabled);
}
